[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
uvicorn = "*"
pydantic = "*"
motor = "*"
jinja2 = "*"
aiohttp = "*"
bs4 = "*"
requests = "*"
inflect = "*"
joblib = "*"
pandas = "*"
scikit-learn = "*"
starlette = "*"
python-multipart = "*"
isodate = "*"
lxml = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
watchfiles = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
